<%= bootstrap_form_for @post, layout: :horizontal do |f| %>
   <%= f.date_field :date %>
   <%= f.text_field :overtime_request %>
   <%= f.text_area :rationale, rows: 5 %>

   <% if current_user.type == 'AdminUser' %>
      <%= f.form_group :status, label: {text: 'Status'} do %>
         <%= f.radio_button :status, 'submitted', label: 'Submitted', checked: true %>
         <%= f.radio_button :status, 'approved', label: 'Approved' %>
         <%= f.radio_button :status, 'rejected', label: 'Rejected' %>
      <% end %>
   <% end %>

   <div class="text-right">
     <%= f.primary 'Save' %>
   </div>
<% end %>